<link rel="stylesheet" href="/static/style.css">
<div>
    <div class="header">
        <h1 >
            <a href="/" style="text-decoration: none; color: rgb(0, 0, 0);">
                Verkkokurssisovellus
            </a>
        </h1>
    </div>
    {% if session.user_id and session.admin%}
    <nav>
        <ul>
            <a href="/logout" class="button"> Kirjaudu ulos</a>
            <a href="/courses" class="button" > Kurssit</a>
            <a href="/newCourse" class="button" > Luo kurssi</a>
            <a href="/myCourses" class="button" > Kurssini</a>
        <ul>
    </nav>
    
    {% elif session.user_id %}
    <nav>
        <ul>
            <a href="/logout" class="button"> Kirjaudu ulos</a>
            <a href="/courses" class="button" > Kurssit</a>
            <a href="/myCourses" class="button" > Kurssini</a>
        <ul>
    </nav>
    {% else  %}
    <nav>
        <ul>
                <li><a href="/login" class="button" > Kirjaudu</a>
                <li><a href="/register" class="button" > Luo tunnus</a>
                <li><a href="/courses" class="button" > Kurssit</a>
        <ul>
    </nav>
    {% endif %}
</div>

{% block content %}
{% endblock %}