{% extends "layout.html" %}
{% block content %}

{% if session.user_id and  admin == "True"  %}

{% with messages=get_flashed_messages(with_categories=true) %}
 {% for category, message in messages %}
  <div class='alert'>
    {{ message }}
   </div>
 {% endfor %}
{% endwith %}

<form  method="POST">
    <h2>Lisää kurssi</h2>
    <p>Nimi:
        <input type="text" name="title" value="{{title}}" minlength="3" maxlength="30" required>
    </p>
    <p>Opintopisteet:
        <input type="number" name="op" value="{{op}}" min="1" max="30" required > 1-30
    </p>
    <input type="submit" class="button" value="Lähetä">

</form>

{% else %}

<form class="testBox" >
    <div class="center" style="color:#ffb700;">Et voi luoda kursseja, sillä et ole ylläpitäjä.   </div>
</form>

{% endif %}
{% endblock %}
