{% extends "layout.html" %}
{% block content %}

{% with messages=get_flashed_messages(with_categories=true) %}
    {% for category, message in messages %}
        <div class='alert'>
            {{ message }}
        </div>
    {% endfor %}
{% endwith %}

{% if session.user_id and  admin == "True"  %}

<form  method="POST">
    <h2>Lisää kysymys</h2>
    <p>Kysymys: 
        <input type="text" name="question" value="{{question}}" minlength="4" maxlength="40"  required>
    </p>
    <p>Oikea vastaus:
        <input type="text" name="answer" value="{{answer}}" minlength="1" maxlength="25"  required>
    </p>


    <p>Vastausvaihtoehto 1*:
        <input type="text" name="quiz1" value="{{quiz1}}" minlength="1"  maxlength="25"  required>
    </p>

    <p>Vastausvaihtoehto 2*:
        <input type="text" name="quiz2" value="{{quiz2}}" minlength="1"  maxlength="25"  required>
    </p>

    <p>Vastausvaihtoehto 3:
        <input type="text" name="quiz3" value="{{quiz3}}" minlength="1"  maxlength="25"  >
    </p>


    <input type="submit" class="button" value="Lähetä">
</form>

{% else %}

<form class="testBox" >
    <div class="center" style="color:#ffb700;">Pääsy estetty! et ole kurssin ylläpitäjä.   </div>
</form>

{% endif %}
{% endblock %}
