{% extends "layout.html" %}
{% block content %}

{% if session.user_id and  admin == "True"  %}
{{question}} {{answer}} {{quiz1}} {{quiz2}} {{quiz3}} {{id}}
<form  method="POST">
    <h2>Lisää kysymys</h2>
    <p>Kysymys: 
        <input type="text" name="question" value={{question}}>
    </p>
    <p>Oikea vastaus:
        <input type="text" name="answer" value={{answer}}>
    </p>


    <p>Vastausvaihtoehto 1*:
        <input type="text" name="quiz1" value="{{quiz1}}" required>
    </p>

    <p>Vastausvaihtoehto 2*:
        <input type="text" name="quiz2" value="{{quiz2}}" required>
    </p>

    <p>Vastausvaihtoehto 3:
        <input type="text" name="quiz3" value="{{quiz3}}">
    </p>


    <input type="submit" class="button" value="Lähetä">
</form>

{% else %}

<form class="testBox" >
    <div class="center" style="color:#ffb700;">Pääsy estetty! et ole kurssin ylläpitäjä.   </div>
</form>

{% endif %}
{% endblock %}
