{% extends "layout.html" %}
{% block content %}

{% with messages=get_flashed_messages(with_categories=true) %}
 {% for category, message in messages %}
  <div class='alert'>
    {{ message }}
   </div>
 {% endfor %}
{% endwith %}

<form action="/register" method="POST">
    {{admin}}
    <h2>Uusi käyttäjä</h2>
    <p>
        Tunnus: <input type="text" name="username" value="{{name}}" maxlength="20" required> 
    </p>
    <p>
        Salasana: <input type="password" name="password" maxlength="20"  required>
    </p>
    <p>
        Oikeudet:  
        <select name="admin_rights" >
            <option value="False">Peruskäyttäjä</option>
            <option value="True">Ylläpitäjä</option>
        </select>
    </p>
    <input type="submit" class="button" value="Luo tunnus">
</form>
{% endblock %}